@model Webshop.Models.Articles
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Create";
}

<section class="container">
    <div class="container-white">
        <div class="row">
            <div class="col-xs-12">
                <h3><span class="badge badge-blue-big">Lägg till Artikel</span></h3>
            </div>
        </div>
        <form asp-action="NewArticle"  enctype="multipart/form-data">
                <div class="col-xs-12 padding-x-off content-box">
                    <div class="col-xs-12">
                        @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
                        <div class="col-md-4 pull-left">
                            <div class="custom-file-upload pull-left">
                                <input type="file" name="file" multiple />
                            </div>
                            @*<h3 id="fof">@ViewBag.IDExists</h3>
                              <h3 id="fof">@ViewBag.NoFile</h3>*@
                        </div>
                        <div class="productImageWrap">
                        </div>
                        <div class="col-md-8 padding-x-off">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label asp-for="VendorID" class="col-md-10 control-label"></label>
                                        <select asp-for="VendorID" class="form-control" asp-items="ViewBag.VendorID"></select>
                                        <!-- Button trigger modal -->
                                        <a data-toggle="modal" data-target="#NewVendor"><span class="modal-pointer pull-right"><i class="fa fa-plus-circle lime-green"></i> Tillverkare</span></a>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label asp-for="CategoryID" class="col-md-10 control-label"></label>
                                        <select asp-for="CategoryID" class="form-control" asp-items="ViewBag.CategoryID"></select>
                                        <!-- Button trigger modal -->
                                        <a data-toggle="modal" data-target="#NewCategory"><span class="modal-pointer pull-right"><i class="fa fa-plus-circle lime-green"></i> Kategori</span></a>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label asp-for="ProductID" class="col-md-10 control-label"></label>
                                        <select asp-for="ProductID" class="form-control" asp-items="ViewBag.ProductID"></select>
                                        <!-- Button trigger modal -->
                                        <a data-toggle="modal" data-target="#NewProduct"><span class="modal-pointer pull-right"><i class="fa fa-plus-circle lime-green"></i> Produkt</span></a>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label asp-for="SubCategoryID" class="col-md-10 control-label"></label>
                                        <select asp-for="SubCategoryID" class="form-control" asp-items="ViewBag.SubCategoryID"></select>
                                        <!-- Button trigger modal -->
                                        <a data-toggle="modal" data-target="#NewSubCategory"><span class="modal-pointer pull-right"><i class="fa fa-plus-circle lime-green"></i> Produkttyp</span></a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label asp-for="ArticleStock" class="col-md-10 control-label"></label>
                                        <input asp-for="ArticleStock" class="form-control" placeholder="-Lagersaldo-" />
                                        <span asp-validation-for="ArticleStock" class="text-danger" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label asp-for="ArticlePrice" class="col-md-10 control-label"></label>
                                        <input asp-for="ArticlePrice" class="form-control" placeholder="-Styckpris-" />
                                        <span asp-validation-for="ArticlePrice" class="text-danger" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label asp-for="ArticleName" class="col-md-10 control-label"></label>
                                        <input asp-for="ArticleName" class="form-control" placeholder="-Artikelnamn-" />
                                        <span asp-validation-for="ArticleName" class="text-danger" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label asp-for="ArticleShortText" class="col-md-10 control-label"></label>
                                        <input asp-for="ArticleShortText" class="form-control" placeholder="-Ingresstext-" />
                                        <span asp-validation-for="ArticleShortText" class="text-danger" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label asp-for="ArticleFeaturesOne" class="col-md-10 control-label"></label>
                                        <input asp-for="ArticleFeaturesOne" class="form-control" placeholder="-Produktdata 1-" />
                                        <span asp-validation-for="ArticleFeaturesOne" class="text-danger" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label asp-for="ArticleFeaturesTwo" class="col-md-10 control-label"></label>
                                        <input asp-for="ArticleFeaturesTwo" class="form-control" placeholder="-Produktdata 2-" />
                                        <span asp-validation-for="ArticleFeaturesTwo" class="text-danger" />
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label asp-for="ArticleFeaturesThree" class="col-md-10 control-label"></label>
                                        <input asp-for="ArticleFeaturesThree" class="form-control" placeholder="-Produktdata 3-" />
                                        <span asp-validation-for="ArticleFeaturesThree" class="text-danger" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label asp-for="ArticleFeaturesFour" class="col-md-10 control-label"></label>
                                        <input asp-for="ArticleFeaturesFour" class="form-control" placeholder="-Produktdata 4-" />
                                        <span asp-validation-for="ArticleFeaturesFour" class="text-danger" />
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-12 ">
                            <div class="col-md-9 pull-right">
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <div class="checkbox">
                                            <input checked="checked" asp-for="ISActive" />
                                            <label asp-for="ISActive"></label>
                                        </div>
                                        <div class="checkbox">
                                            <input asp-for="ISCampaign" />
                                            <label asp-for="ISCampaign"></label>
                                        </div>
                                    </div>
                                </div>

                               
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="submit" value="Create" class="btn add-article-btn pull-right" />
                                </div>
                            </div>
                        </div>
                    </div>
</div>
            </form>


            <!-- Modal NewVendor-->
            <div class="modal fade" id="NewVendor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Lägg till ny Tillverkare</h4>
                        </div>
                        <div class="modal-body">
                            @Html.Partial("NewVendor")
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal NewCategory-->
            <div class="modal fade" id="NewCategory" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Lägg till ny Kategori</h4>
                        </div>
                        <div class="modal-body">
                            @Html.Partial("NewCategory")
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal NewProduct-->
            <div class="modal fade" id="NewProduct" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Lägg till ny Produkt</h4>
                        </div>
                        <div class="modal-body">
                            @Html.Partial("NewProduct")
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal NewSubCategory-->
            <div class="modal fade" id="NewSubCategory" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Lägg till ny Produkttyp</h4>
                        </div>
                        <div class="modal-body">
                            @Html.Partial("NewSubCategory")
                        </div>
                    </div>
                </div>
            </div>

</div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


