@model Webshop.Models.ArticleModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ArticleModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ArticleAddDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArticleAddDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArticleFeaturesFour)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArticleFeaturesFour)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArticleFeaturesOne)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArticleFeaturesOne)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArticleFeaturesThree)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArticleFeaturesThree)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArticleFeaturesTwo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArticleFeaturesTwo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArticleGuid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArticleGuid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArticleName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArticleName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArticleNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArticleNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArticlePrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArticlePrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArticleShortText)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArticleShortText)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArticleStock)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArticleStock)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ISActive)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ISActive)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ISCampaign)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ISCampaign)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductImgPathID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductImgPathID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
