@model IEnumerable<Webshop.ViewModels.ArticlesViewModel>
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Index"];
}
<section class="navbar navbar-blue" id="bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="search-bar">@Html.Partial("_SearchArticles")</div>
                </div>
            </div>
        </div>
    </section>
<section class="container">
    <div class="col-xs-12 padding-x-off no-pad-table">
        @*@Html.Partial("_SearchArticles")*@
        <table class="table margin-y-off" border="0">
            <tbody>
                @{  var count = Model.Count();
                    if (count == 0)
                    {
                        <tr>
                            <td>
                                <div class="image-container text-center bg-white"> <img src="~/images/no-record-found.png" /></div>@*<h3 id="fof">@ViewBag.NoHit</h3>*@
                            </td>
                        </tr>
                    }
                    else
                    {
                        @foreach (var item in Model)
                        {
                            @Html.HiddenFor(modelItem => item.ArticleAddDate)
                            @Html.HiddenFor(modelItem => item.ArticleGuid)
                            <tr>
                                <td>
                                    <div class="productItemDetailBox">
                                        <div class="priceInfo super">
                                            <span class="price animated rubberBand">@Html.DisplayFor(modelItem => item.ArticlePrice)</span>
                                            <span class="small right"></span>
                                        </div>
                                        <div class="image-container">
                                            <a asp-action="Details" asp-route-id="@item.ArticleID"> <img class="img-responsive" alt="@Html.DisplayFor(modelItem => item.ArticleName)" src="@Html.UrlEncoder.Encode(item.ArticleImgPath)" /></a>
                                        </div>
                                        <a asp-action="Details" asp-route-id="@item.ArticleID">
                                            <div class="content-block">
                                                <div class="text-vendor">
                                                    <h2>@Html.DisplayFor(modelItem => item.ArticleName)</h2>
                                                    <div class="review">
                                                        <span class="review-rating">
                                                            <script language="javascript">
                                                                function scrollToReviews(activeTab) {
                                                                    if (activeTab != null && activeTab != '') {
                                                                        $('.nav-tabs a[href="#' + activeTab + '"]').tab('show');
                                                                    }
                                                                    $('html, body').animate({ scrollTop: $('#alaTestContainer').offset().top }, 1000);
                                                                }
                                                            </script>
                                                            <div class="review-summary">
                                                                <a href="javascript:;" title="4.1 av 5" onclick="return false; ">
                                                                    <span class="fa fa-star"></span>
                                                                    <span class="fa fa-star"></span>
                                                                    <span class="fa fa-star"></span>
                                                                    <span class="fa fa-star"></span>
                                                                    <span class="fa fa-star-o"></span>
                                                                </a>
                                                            </div>
                                                        </span>
                                                    </div>
                                                    <div class="text-container">
                                                        <p class="info-text"> <i class="fa fa-bookmark-o orange"></i> @Html.DisplayFor(modelItem => item.ArticleFeaturesOne)</p>
                                                        <p class="info-text"> <i class="fa fa-bookmark-o orange"></i> @Html.DisplayFor(modelItem => item.ArticleFeaturesTwo)</p>
                                                        <p class="info-text"> <i class="fa fa-bookmark-o lime-green"></i> @Html.DisplayFor(modelItem => item.ArticleFeaturesThree)</p>
                                                        <p class="info-text"> <i class="fa fa-bookmark-o lime-green"></i> @Html.DisplayFor(modelItem => item.ArticleFeaturesFour)</p>
                                                    </div>

                                                    @*<div class="product-artnr small">
                                                        Art. nr: <span>@Html.DisplayFor(modelItem => item.ArticleNumber)</span>
                                                    </div>*@
                                                </div>
                                                <div class="box-bottom ">
                                                    <div class="stockstatus">
                                                        @*<i class="fa-colored-check-square-green"></i>*@
                                                        <span class="fa fa-check-square-o lime-green icon-padding-right"><span class="small text-muted">  + @Html.DisplayFor(modelItem => item.ArticleStock) @Localizer["Stock"]</span></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="priceInfo">
                                        <span class="small ">
                                            <a asp-action="Delete" class="btn btn-danger pull-left" asp-route-id="@item.ArticleID">@Localizer["Delete"]</a>
                                            <a asp-action="Edit" class="btn btn-warning pull-right" asp-route-id="@item.ArticleID">@Localizer["Edit"]</a>
                                            <a asp-action="Details" class="btn btn-info pull-right" asp-route-id="@item.ArticleID">@Localizer["Details"]</a>
                                        </span>
                                    </div>
                                </td>
                            </tr>
                        }
                    }

                }
            </tbody>
        </table>
    </div>
    @{  var count2 = Model.Count();
        if (count2 == 0)
        {

        }
        else
        {
            <div class="pagination-sm pull-right">
                <ul class="pagination">
                    <li><a href="#"><i class="fa fa-chevron-circle-left"></i></a></li>
                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#"><i class="fa fa-chevron-circle-right"></i></a></li>
                </ul>
            </div>

        }
    }
</section>





