@model Webshop.Components.CartSummaryComponent
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions
{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}


@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script type="text/javascript">
        $(function () {
            // Document.ready -> link up remove event handler
            $(".RemoveFromCart").click(function () {
                // Get the id from the link
                var recordToDelete = $(this).attr("data-id");
                var PostToUrl = $(this).attr("data-url");
                if (recordToDelete != '') {

                    // Perform the ajax post
                    $.ajax(PostToUrl, {
                        type: "post",
                        data: { "id": recordToDelete },
                        dataType: "json",
                        headers: { "RequestVerificationToken": '@GetAntiXsrfRequestToken()' }
                    }).done(function (data) {
                        // Successful requests get here
                        // Update the page elements
                        if (data.ItemCount == 0) {
                            $('#row-' + data.DeleteId).fadeOut('slow');
                            window.location.reload().fadeOut("fast")
                        } else {
                            $('#item-count-' + data.DeleteId).text(data.ItemCount);
                            window.location.reload().fadeOut("fast")
                        }

                        $('#cart-total').text(data.CartTotal);
                        $('#update-message').text(data.Message);
                        $('#cart-status').text(data.CartCount);
                        console.log("Borttaget\n", PostToUrl, "\n")
                        console.log("Data \n", data, "\n")
                        console.log("Borttaget", data.DeleteId)
                        window.location.reload().fadeOut("fast");
                    });
                }
            });

        });
    </script>
}
@if (ViewBag.CartCount > 0)
{
    <div class="col-md-12">
        <table id="cart-summary" class="table-width table table-responsive table-hover table-striped">
            <thead>
                <tr>
                    <th> Bild </th>
                    <th> Artikel </th>
                    <th> Antal </th>
                    <th> Pris </th>
                    <th> Radsumma </th>
                    <th>   </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.List)
                {
                    <tr id="row-@item.CartItemId">
                        <td><img class="img-responsive" alt="@item.ArticleName" /></td>

                        <td><a asp-controller="Home" asp-action="Details" asp-route-id="@item.ArticleId">@item.ArticleName</a></td>

                        <td id="item-count-@item.CartItemId">@item.Count</td>
                        
                        <td>@item.Article.ArticlePrice</td>

                        <td>
                            @{var price = item.Article.ArticlePrice;
                                var i = item.Count;
                                var sum = Convert.ToDecimal(price * i);}
                            @sum
                        </td>

                        <td>
                        <a class="delete-button-sm RemoveFromCart" href="#" data-id="@item.CartItemId" data-url='@Url.Content("~/Home/RemoveFromCart")'>
                            <i class="fa fa-remove"></i>
                            </a>
                        </td>
                    </tr>
                    }
            </tbody>
        </table>
        <div class="col-md-12">
            <div class="col-md-9"></div>
            <div class="col-md-3 pull-left">
                <p>
                    Totalt: @ViewBag.Sum
                </p>
            </div>
        </div>
        <div class="col-md-12">
            <a asp-area="" asp-controller="Home" asp-action="Cart" class="btn btn-sm btn-success pull-right">Visa Kundkorg</a>
        </div>
    </div>
                                }
                                else
                                {
                                    <div class="col-md-12"><span class="alert-info">Din kundkorg är tom</span></div>

                                }
                                