@model Webshop.ViewModels.ShoppingCartViewModel
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@{
    ViewBag.Title = "Shopping Cart";
}

@functions
{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}



@if (ViewBag.CartCount > 0)
{
    @*<a asp-area="" asp-controller="Home" asp-action="CartIndex" title="@ViewBag.CartSummary">*@

    <div>
        <table class="table">
            <thead>
                <tr>
                    <th> ID </th>
                    <th> Antal </th>
                    <th> Artikel </th>
                    <th> Pris </th>
                    <th> Radsumma </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.CartItems)
                {
                    <tr class="left">
                        <td>
                            @item.ArticleId
                        </td>
                        <td>
                            @item.ArticleTranslation.ArticleName
                        </td>
                        <td>
                            @item.Article.ArticlePrice
                        </td>
                        <td id="item-count-@item.CartItemId">
                            @item.Count
                        </td>
                        <td>
                            @item
                        </td>
                        <td>
                            <a type="button" class="btn btn-sm btn-danger fa-pull-right RemoveLink" href="#"
                               data-id="@item.CartItemId"
                               data-url='@Url.Content("~/Home/RemoveFromCart")'>
                                <i class="fa fa-remove small"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <a asp-area="" asp-controller="Home" asp-action="CartIndex" class="btn btn-info pull-right">Till Kassan</a>

        <div class="pull-right">
            <p>Sa: </p>
            <p>Moms: </p>
            <p>Total:@ViewBag.Sum</p>
        </div>
    </div>

}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script type="text/javascript">
        $(function () {
            // Document.ready -> link up remove event handler
            $(".RemoveLink").click(function () {
                // Get the id from the link
                console.log("Button activations:\n")
                var recordToDelete = $(this).attr("data-id");
                var PostToUrl = $(this).attr("data-url");
                if (recordToDelete != '') {

                    // Perform the ajax post
                    $.ajax(PostToUrl, {
                        type: "post",
                        data: {
                            "id": recordToDelete
                        },
                        dataType: "json",
                        headers: {
                            "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                        }
                    }).done(function (data) {
                        // Successful requests get here
                        // Update the page elements
                        if (data.ItemCount == 0) {
                            $('#row-' + data.DeleteId).fadeOut('slow');
                            console.log("DeleteID:\n{0}", data.DeleteId)

                        } else {
                            $('#item-count-' + data.DeleteId).text(data.ItemCount);
                            console.log("Itme-Count after DeleteID:\n", data.ItemCount)
                        }

                        $('#cart-total').text(data.CartTotal);
                        console.log("CartTotal:\n{0}", data.CartTotal)
                        $('#update-message').text(data.Message);
                        console.log("Messge after deletion:\n{0}", data.Message)
                        $('#cart-status').text(data.CartCount);
                        console.log("Script run done:\n{0}", data)
                    });
                }
            });

        });
    </script>
}
