@model Webshop.ViewModels.ArticlesViewModel
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Search";
}
<div class="nav-white">
    <div class="container-white">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <div class="row">
                @*<div class="col-md-12">*@
                <form asp-action="_SearchArticles" asp-controller="Home" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <div class="col-md-12">
                                <select asp-for="VendorID" name="vendor" class="form-control" asp-items="ViewBag.VendorID">@Localizer["VendorPlaceholder"]</select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="btn-block">
                                    <select asp-for="CategoryID" name="category" class="form-control" asp-items="ViewBag.CategoryID">@Localizer["Placeholder"]</select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="btn-block">
                                    <select asp-for="ProductID" name="product" class="form-control" asp-items="ViewBag.ProductID">@Localizer["ProductPlaceholder"]</select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="btn-block">
                                    <select asp-for="SubCategoryID" name="subcategory" class="form-control" asp-items="ViewBag.SubCategoryID">@Localizer["SubCategoryPlaceholder"]</select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="btn-block">
                                    <button type="submit" class="btn btn-default">
                                        <span class="ladda-label"><i class="fa fa-search"></i>@Localizer["Search"]</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        @*</div>*@
    </div>
</div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }


