@model Webshop.ViewModels.ShoppingCartViewModel
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@{
    ViewBag.Title = "Shopping Cart";
}
@functions
{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
@section Scripts {
    <script type="text/javascript">
        $(function () {
            // Document.ready -> link up remove event handler
            $(".RemoveLink").click(function () {
                // Get the id from the link
                var recordToDelete = $(this).attr("data-id");
                var PostToUrl = $(this).attr("data-url");
                if (recordToDelete != '') {

                    // Perform the ajax post
                    $.ajax(PostToUrl, {
                        type: "post",
                        data: {
                            "id": recordToDelete
                        },
                        dataType: "json",
                        headers: {
                            "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                        }
                    }).done(function (data) {
                        // Successful requests get here
                        // Update the page elements
                        if (data.ItemCount == 0) {
                            $('#row-' + data.DeleteId).fadeOut('slow');
                        } else {
                            $('#item-count-' + data.DeleteId).text(data.ItemCount);
                        }

                        $('#cart-total').text(data.CartTotal);
                        $('#update-message').text(data.Message);
                        $('#cart-status').text(data.CartCount);
                    });
                }
            });

        });
    </script>
}
<section class="container-white">
    <div class="row">
        <div class="col-xs-12">
            <h3>Aktuell kundkorg: @*@Localizer["TopProducts"]*@</h3>
        </div>
    </div>
    <div class="container">
        <div id="update-message">
        </div>
        <table id="cart-summary" class="table table-responsive table-hover table-striped">
            <tr>
                <th>
                    Artikelnamn
                </th>
                <th>
                    Pris(st)
                </th>
                <th>
                    Antal
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model.CartItems)
            {
                <tr id="row-@item.CartItemId">
                    @*<td><img class="img-responsive" src="~/@Html.UrlEncoder.Encode(item.Article..ArticleImgPath) />@item.Article.ImageId</td>
                    *@
                    <td>
                        <a asp-controller="Home" asp-action="Details" asp-route-id="@item.ArticleId">@item.ArticleName</a>
                    </td>
                    <td>
                        @item.Article.ArticlePrice
                    </td>
                    <td id="item-count-@item.CartItemId">
                        @item.Count
                    </td>
                    <td>
                        <button class="btn btn-sm btn-danger fa-pull-right RemoveLink" href="#" data-id="@item.CartItemId" data-url='@Url.Content("~/ShoppingCart/RemoveFromCart")'>
                            <i class="fa fa-remove small"></i>
                        </button>
                    </td>
                </tr>
            }
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td class="pull-right" id="cart-total">
                    <h4>Total: @Model.CartTotal</h4>
                </td>
            </tr>
        </table>
    </div>
    <a asp-controller="Checkout" asp-action="AddressAndPayment" class="btn btn-success pull-right">Checkout</a>
</section>