@model Webshop.ViewModels.ArticlesViewModel
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Delete"];
}


<section class="container">
    <div class="col-xs-12 padding-x-off">
        <div class="jumbotron delete-border alert-danger">
            <h2 class="alert-danger"><i class="fa fa-warning fa-1x"></i> Du håller på att ta bort följade artikel.</h2>
        </div>
        <div class="productItemDetailBox delete-border alert-danger hover-show-trigger">
            <div class="col-xs-4 pull-right">
                <div class="priceInfo super">
                    <span class="priceHeader">
                        <span class="symbol pull-left icon-superpris"></span>
                        <span class="description">-29%</span>
                    </span>
                    <span class="price animated rubberBand">@Html.DisplayFor(model => model.ArticlePrice)</span>
                    <span class="small right">@Localizer["Ord.Price"]</span>
                </div>
            </div>

            <div class="col-xs-4 padding-x-off">
                <div class="productDetailImageWrap">
                    <a href="#" class="clear">
                        <img class="img-responsive" alt="@Html.DisplayFor(model => model.ArticleName)" src="~/@Html.UrlEncoder.Encode(Model.ArticleImgPath)" />
                    </a>
                </div>
            </div>
            <div class="productDetailDescription">
                <div>
                    <h3 class="margin-x-md">@Html.DisplayFor(model => model.ArticleName)</h3>
                </div>
                <span class="description">@Html.DisplayFor(model => model.ArticleShortText)</span>
                <ul class="list-group shortSpec">
                    <li>@Html.DisplayFor(model => model.ArticleNumber)</li>
                    <li>@Html.DisplayFor(model => model.ArticleFeaturesOne)</li>
                    <li>@Html.DisplayFor(model => model.ArticleFeaturesTwo) </li>
                    <li>@Html.DisplayFor(model => model.ArticleFeaturesThree)</li>
                    <li>@Html.DisplayFor(model => model.ArticleFeaturesFour)</li>
                </ul>
                <div class="btn-group">
                    <span class="fa fa-cubes green icon-padding-right" title="" data-placement="top" data-container="body" data-toggle="tooltip" data-original-title="Skickas omgående"><span class="small text-muted icon-padding-right"> +@Html.DisplayFor(model => model.ArticleStock) @Localizer["InStock"]</span></span>
                </div>
            </div>
        </div>
        <div style="height: 30px;">
            <div class="action-row pull-right">
                <form asp-action="Delete">
                    <div class="form-actions no-color">
                        <input type="submit" value=@Localizer["Delete"] class="btn btn-danger" />
                        <a class="btn btn-success" asp-action="Index">@Localizer["Back"]</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
