@using Webshop
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["_Layout"];
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Webshop</title>

    <environment names="Development">
        @*<link href="~/css/style.css" rel="stylesheet" />*@
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link href="~/lib/animate.css/animate.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" asp-append-version="true" />
    </environment>

</head>

<body>

    <!--await Html.PartialAsync("_LoginPartial")-->
    <section class="nav-white navbar-fixed-top end-border">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Superprodukter</a>
            </div>


            <div class="navbar-collapse collapse">
                <ul class="nav-white navbar-nav">
                    <li class="">
                        <a asp-area="" asp-controller="" asp-action="" class="navbar-brand">Ipsum</a>
                    </li>
                    <li class="">
                        <a asp-area="" asp-controller="Article" asp-action="Index" class="navbar-brand">@Localizer["Produkter"]</a>
                    </li>
                    <li class="">
                        <a asp-area="" asp-controller="Article" asp-action="Create" class="navbar-brand">@Localizer["Skapa Ny"]</a>
                    </li>
                    @*@if (SignInManager.IsSignedIn(User))
                    {*@
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" href="/login">
                                <span>@Localizer["Mina Sidor"]</span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="disabled">
                                     <span class="icon-padding-right-15"></span><button type="submit" class="logout-button">@*<a asp-area="" asp-controller="Account" asp-action="Login">*@<span class="fa fa-sign-in icon-padding-right"></span>@Localizer["Logga in"]
                                     @*</a>*@</button>
                                 </li>
                                @*<li class="dropdown"><a><span class="fa fa-user lime-green"></span> @UserManager.GetUserName(User)!</a></li>*@
                                <li class="divider"></li>
                                <li>
                                    <span class="icon-padding-right-15"></span><button type="submit" class="logout-button"><span class="fa fa-history icon-padding-right"></span>@Localizer["Orderhistorik"]</button>
</li>
                                <li>
                                    <span class="icon-padding-right-15"></span><button type="submit" class="logout-button"><span class="fa fa-chain-broken icon-padding-right"></span>@Localizer["Ärenden & reklamationer"]</button>
</li>
                                <li class="divider"></li>
                                <li><span class="icon-padding-right-15"></span><button type="submit" class="logout-button"><span class="fa fa-cogs icon-padding-right"></span>@Localizer["Kontoinställningar"]</button></li>
                                <li>
                                    <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm">
                                        @*<a asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm"><span class="fa fa-sign-in icon-padding-right"></span>Logga Ut</a>*@
                                        @*<span><i class="fa fa-sign-out icon-padding-right"></i>@await ActionLink("Logga Ut", "LogOff", "Account")</span>*@
                                        <span class="icon-padding-right-15"></span><button type="submit" class="logout-button"><span class="fa fa-sign-out icon-padding-right" type="submit" id="logoutForm"></span>@Localizer["Logga Ut"]</button>
                                    </form>
                                </li>
                            </ul>
                        </li>
                    <li class="">
                        @await Html.PartialAsync("_SelectLanguagePartial")
                    </li>

                    @*}
                    else
                    {
                        <li class="dropdown">
                            <a asp-area="" asp-controller="Account" asp-action="Login"><span class="fa fa-sign-in icon-padding-right"></span>Logga in</a>
                        </li>
                    }*@
                </ul>


                <div id="miniCart">
                    <ul class="nav-white navbar-nav pull-right" id="ko-miniCartContainer">
                        <li class="dropdown pull-right cart" data-bind="dropdown: TotalQuantity()">
                            <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" href="/shoppingcart" data-bind="click: loadCartItems">
                                <label class="hidden-xs hidden-sm" >@Localizer["Kundvagnen är tom"]</label>
                                <label class="cartValue">@Localizer["Summa"]</label>
                                <span class="text-muted lowerText" data-bind="text: ShowPricesInclOrExclVat">@Localizer["Inkl. moms"]</span>
                            </a>
                            <ul class="dropdown-menu keep-open">
                                <li data-bind="css: inProgressClass" class="hide"></li>
                                <li class="productList-small container" data-bind="template: { name: 'miniCartItem-template', foreach: Items }"></li>
                                <li class="col-xs-12 text-center padding-x-off">
                                    <a class="btn btn-block btn-branded toCheckout" href="/shoppingcart">
                                       @*await Component.InvokeAsync("Cart")*@
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- SHOPINGCART-->
                <script type="text/html" id="miniCartItem-template">
                    <div class="itemRow row">
                        <div class="col-xs-2">
                            <a data-bind="visible: !RemoveOnly(), attr: { href: Product.ProductUrl, title: Product.DisplayName }">
                                <img data-bind="attr: { 'src': Product.SmallImageUrl, alt: Product.DisplayName }" alt="" />
                            </a>
                            <img data-bind="visible: RemoveOnly, attr: { 'src': Product.SmallImageUrl, alt: Product.DisplayName }" alt="" />
                        </div>
                        <div class="col-xs-6">
                            <a data-bind="visible: !RemoveOnly(), attr: { href: Product.ProductUrl, title: Product.DisplayName }">
                                <span class="text-muted" data-bind="text: Product.Manufacturer"></span> <strong data-bind="text: Product.DisplayName"></strong> <span class="text-muted" data-bind="text: Product.Specification"></span>
                            </a>
                            <div data-bind="visible: RemoveOnly"><span class="text-muted" data-bind="text: Product.Manufacturer"></span> <strong data-bind="text: Product.DisplayName"></strong> <span class="text-muted" data-bind="text: Product.Specification"></span></div>
                        </div>
                        <div class="col-xs-2 text-center nowrap-simple">
                            <!-- ko if: Product.AvailableForSale() && !RemoveOnly() -->
                            <a href="#" class="btn btn-xs" data-bind="click: $parent.removeOne, attr: { title: DisplayMinQuantity() }" data-quantity-modifier="true">&minus;</a>
                            <span data-bind="text: Quantity"></span>
                            <a href="#" class="btn btn-xs" data-bind="click: $parent.addOne, attr: { title: DisplayMaxQuantity() }" data-quantity-modifier="true">+</a>
                            <!-- /ko -->
                            <!-- ko if: !Product.AvailableForSale() || RemoveOnly() -->
                            <a href="#" class="btn btn-xs" data-bind="click: $parent.removeAll">Ta bort</a>
                            <!-- /ko -->
                        </div>
                        <div class="col-xs-2 text-right nowrap" data-bind="text: RowPrice, highlight: RowPrice, css: { 'text-muted': !Product.AvailableForSale() }"></div>
                    </div>
                    <div class="hidden accessories row" data-bind="visible: Product.AvailableForSale() && Accessories().length > 0, css: { hidden: false }, template: { name: 'miniCartAccessory-template', foreach: Accessories }"></div>
                    <div class="hidden accessories row" data-bind="visible: !Product.AvailableForSale(), css: { hidden: false }">
                        <div class="col-xs-2"></div>
                        <div class="col-xs-10"><strong data-bind="text: Product.LifeCycleStateMessage"></strong></div>
                    </div>
                </script>

                <script type="text/html" id="miniCartAccessory-template">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-6">
                        <a data-bind="attr: { href: ProductUrl, title: DisplayName }">
                            <span class="text-muted" data-bind="text: Manufacturer"></span> <strong data-bind="text: DisplayName"></strong>
                        </a>
                    </div>
                    <div class="col-xs-2 text-center" data-bind="text: Quantity"></div>
                    <div class="col-xs-2 text-right" data-bind="text: RowPrice"></div>
                </script>

                <script type="text/javascript">
                    $(function () {
                        miniCartViewModel = new MiniCartViewModel({ "Id": 0, "Items": [], "TotalValue": "0 kr", "TotalQuantity": 0, "ShowPricesInclOrExclVat": "Inkl. moms" }, '/shoppingcart/setquantity', '/shoppingcart/remove', '/shoppingcart/getminicartmodel');
                        ko.applyBindings(miniCartViewModel, document.getElementById("ko-miniCartContainer"));
                    });
                </script>
                <!-- SHOPINGCART END-->
            </div>
        </div>
    </section>


    <section class="navbar navbar-blue" id="bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                        @Html.Partial("_SearchArticles")

                    @*<ul class="nav navbar-nav col-xs-12">
                        <li class="dropdown">
                            <a asp-area="" asp-controller="Article" asp-action="Index" >@Localizer["Produkter"]</a>
                        </li>
                        <li class="">
                        <li>
                            <a href="#" class="">@Localizer["Tillbehörsguider"]</a>
                        </li>
                        <!-- /ko -->
                        <li class="">
                            <a href="#" class="">@Localizer["Lorem Ipsum"]</a>
                        </li>
                        <!--/ko-->
                        <li class="">
                            <a href="/favorites" class="">@Localizer["Favoriter"]</a>
                        </li>
                        <li class="pull-right col-xs-6">
                            <form asp-action="Search" asp-controller="Article" enctype="multipart/form-data">
                                <div class="pull-right pull-right-search col-lg-6">
                                    <div class="input-group">
                                        <input type="text" name="search" class="form-control" placeholder=@Localizer["Sök"]>
                                        <span class="input-group-btn">
                                            <button class="btn submit-button" type="submit"><span class="fa fa-search"></span>@Localizer["Sök"]</button>
                                        </span>
                                    </div><!-- /input-group -->
                                </div><!-- /.col-lg-6 -->
                            </form>
                        </li>
                    </ul>*@
                </div>
            </div>
        </div>
    </section>

    <!--INFOBANNER START -->

    <!--INFOBANNER END -->

    <!--SMALL MODAL LOGIN-->
    @*<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>*@
    @*LARGE MODAL LOGIN*@
    @*<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>*@

    <div class="container-details-wide">
        @RenderBody()
        <section class="nav-white bottom">
            <div class="footer">
                <div class="wrap">
                    <div class="contact-section">
                        <div class="col-md-4 different-products">
                            <ul>
                                <li class="first"> Shop </li> -
                                <li><a href=""> Mobiles </a></li> |
                                <li><a href=""> Laptops </a></li> |
                                <li><a href=""> Cameras </a></li> |
                                <li><a href=""> Clothing </a></li> |
                                <li><a href=""> Footwear </a></li> |
                                <li><a href=""> Jewellery </a></li>
                            </ul>
                            <ul>
                                <li class="first"> Help </li> -
                                <li><a href=""> Faqs </a></li> |
                                <li><a href=""> shipping </a></li> |
                                <li><a href=""> payments </a></li> |
                                <li><a href=""> cancellation&returns </a></li>
                            </ul>
                            <ul>
                                <li class="first"> account
                                <li> -
                                <li><a href=""> log in </a></li> |
                                <li><a href=""> sign up </a></li> |
                                <li><a href=""> My WhishList </a></li> |
                                <li><a href=""> My cart </a></li>
                            </ul>
                            <ul>
                                <li class="first"> boxshop </li> -
                                <li><a href="contact.html"> contact us </a></li> |
                                <li><a href=""> about us </a></li> |
                                <li><a href=""> careers </a></li> |
                                <li><a href=""> blog </a></li> |
                                <li><a href=""> press </a></li>
                            </ul>
                            <ul>
                                <li class="first"> policies</li> -
                                <li><a href=""> terms of use </a></li> |
                                <li><a href=""> security </a></li> |
                                <li><a href=""> privacy policy</a></li>
                            </ul>
                        </div>
                       
                        <div class="col-md-4 subscribe text-center">
                            <h3>Subscribe Us</h3>
                            <p>Get the latest updates & Offers right in your inbox.</p>
                            <input type="text" class="text" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}">
                            <input type="submit" value="Subscribe">
                        </div>
                        <div class="col-md-4 help text-right">
                            <h3>Need Help?</h3>
                            <p>Lorem ipsum dolor sit amet</p>
                            <a href="contact.html">Contact us</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="footer-middle">
                        <div class="col-md-12 follow text-center">
                            <h3>Follow Us</h3>
                            <p>Lorem ipsum dolor sit amet</p>
                            <div class="social-icons">
                                <i class="twitter"></i>
                                <i class="facebook"></i>
                                <i class="googlepluse"></i>
                                <i class="pinterest"></i>
                                <i class="linkedin"></i>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="cards text-center">
                        <img src="~/images/cards.jpg" alt="Payment" />
                    </div>
                </div>
            </div>
        </section>
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("scripts", required: false)
</body>

</html>
