@using Webshop
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions
{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

@section Scripts {
    <script type="text/javascript">
        $(function () {
            // Document.ready -> link up remove event handler
            $(".RemoveLink").click(function () {
                // Get the id from the link
                var recordToDelete = $(this).attr("data-id");
                var PostToUrl = $(this).attr("data-url");
                if (recordToDelete != '') {

                    // Perform the ajax post
                    $.ajax(PostToUrl, {
                        type: "post",
                        data: {
                            "id": recordToDelete
                        },
                        dataType: "json",
                        headers: {
                            "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                        }
                    }).done(function (data) {
                        // Successful requests get here
                        // Update the page elements
                        if (data.ItemCount == 0) {
                            $('#row-' + data.DeleteId).fadeOut('slow');
                        } else {
                            $('#item-count-' + data.DeleteId).text(data.ItemCount);
                        }

                        $('#cart-total').text(data.CartTotal);
                        $('#update-message').text(data.Message);
                        $('#cart-status').text(data.CartCount);
                    });
                }
            });

        });
    </script>
}

@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["_Layout"];
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Webshop</title>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

        @*<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.css">*@

        @*<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script>*@
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="~/lib/flag-icon-css/css/flag-icon.css" rel="stylesheet" />
        <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link href="~/lib/animate.css/animate.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" asp-append-version="true" />
    </environment>

    <!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
    <script type="text/javascript">
    window.cookieconsent_options = {"message":"This website uses cookies to ensure you get the best experience on our website","dismiss":"Got it!","learnMore":"More info","link":null,"theme":"light-bottom"};
    </script>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.10/cookieconsent.min.js"></script>
    <!-- End Cookie Consent plugin -->

</head>

<body>

    @*@await Html.PartialAsync("_LoginPartial")*@

    <section class="nav-white navbar-fixed-top end-border">
        @*<div id="cookie-consent" class="alert-warning">
            <div class="container">
                <span>My site uses cookies to personalise content and adverts, to provide social media features and to analyse traffic.</span>
                <a class="btn btn-xs btn-success" id="consent">I'm happy with this</a> <a class="btn btn-xs btn-danger" id="learn-more">Learn more</a>
            </div>
        </div>*@
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Superprodukter</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav-white navbar-nav">
                    <li class="">
                        <a asp-area="" asp-controller="" asp-action="" class="navbar-brand">Ipsum</a>
                    </li>
                    <li class="">
                        <a asp-area="" asp-controller="Article" asp-action="Index" class="navbar-brand">@Localizer["Produkter"]</a>
                    </li>
                    <li class="">
                        <a asp-area="" asp-controller="Article" asp-action="Create" class="navbar-brand">@Localizer["Skapa Ny"]</a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" href="/login">
                            <span>@Localizer["Mina Sidor"]</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="disabled">
                                <span class="icon-padding-right-15"></span><button type="submit" class="logout-button">
                                    @*<a asp-area="" asp-controller="Account" asp-action="Login">*@<span class="fa fa-sign-in icon-padding-right"></span>@Localizer["Logga in"]
                                    @*</a>*@
                                </button>
                            </li>

                            <li class="divider"></li>
                            <li>
                                <span class="icon-padding-right-15"></span><button type="submit" class="logout-button"><span class="fa fa-history icon-padding-right"></span>@Localizer["Orderhistorik"]</button>
                            </li>
                            <li>
                                <span class="icon-padding-right-15"></span><button type="submit" class="logout-button"><span class="fa fa-chain-broken icon-padding-right"></span>@Localizer["Ärenden & reklamationer"]</button>
                            </li>
                            <li class="divider"></li>
                            <li><span class="icon-padding-right-15"></span><button type="submit" class="logout-button"><span class="fa fa-cogs icon-padding-right"></span>@Localizer["Kontoinställningar"]</button></li>
                            <li>
                                <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm">
                                    <span class="icon-padding-right-15"></span><button type="submit" class="logout-button"><span class="fa fa-sign-out icon-padding-right" type="submit" id="logoutForm"></span>@Localizer["Logga Ut"]</button>
                                </form>
                            </li>
                            <li class="divider"></li>
                        </ul>
                    </li>
                    <li>@await Html.PartialAsync("_SelectLanguagePartial")</li>
                </ul>
                <div>
                    <ul class="nav-white navbar-nav pull-right">
                        <li class="dropdown pull-right cart">
                            <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" href="/shoppingcart">
                                <label class="cartValue  dropdown-toggle-cart">@await Component.InvokeAsync("CartTotalSum")</label>
                            </a>
                            <ul class="dropdown-menu keep-open">
                                <li class="hide"></li>
                                <li class="productList-small"></li>
                                <li class="col-xs-12 padding-x-off">
                                    @await Component.InvokeAsync("CartSummary")
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!--SMALL MODAL LOGIN-->
    @*<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>*@
    @*LARGE MODAL LOGIN*@
    @*<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>*@
    <div class="container-details-wide">
        @RenderBody()
        <section class="nav-white bottom">
            <div class="footer">
                <div class="wrap">
                    <div class="contact-section">
                        <div class="col-md-4 different-products">
                            @*<ul>
                                    <li class="first"> Shop </li> -
                                    <li><a href=""> Mobiles </a></li> |
                                    <li><a href=""> Laptops </a></li> |
                                    <li><a href=""> Cameras </a></li> |
                                    <li><a href=""> Clothing </a></li> |
                                    <li><a href=""> Footwear </a></li> |
                                    <li><a href=""> Jewellery </a></li>
                                </ul>*@
                            <ul>
                                <li class="first"> Help </li> -
                                <li><a href=""> Faqs </a></li> |
                                <li><a href=""> shipping </a></li> |
                                <li><a href=""> payments </a></li> |
                                <li><a href=""> cancellation&returns </a></li>
                            </ul>
                            <ul>
                                <li class="first"> account
                                <li> -
                                <li><a href=""> log in </a></li> |
                                <li><a href=""> sign up </a></li> |
                                <li><a href=""> My WhishList </a></li> |
                                <li><a href=""> My cart </a></li>
                            </ul>
                            <ul>
                                <li class="first"> boxshop </li> -
                                <li><a href="contact.html"> contact us </a></li> |
                                <li><a href=""> about us </a></li> |
                                <li><a href=""> careers </a></li> |
                                <li><a href=""> blog </a></li> |
                                <li><a href=""> press </a></li>
                            </ul>
                            <ul>
                                <li class="first"> policies</li> -
                                <li><a href=""> terms of use </a></li> |
                                <li><a href=""> security </a></li> |
                                <li><a href=""> privacy policy</a></li>
                            </ul>
                        </div>

                        <div class="col-md-4 subscribe text-center">
                            <h3>Subscribe Us</h3>
                            <p>Get the latest updates & Offers right in your inbox.</p>
                            <input type="text" class="text" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}">
                            <input type="submit" value="Subscribe">
                        </div>
                        <div class="col-md-4 help text-right">
                            <h3>Need Help?</h3>
                            <p>Lorem ipsum dolor sit amet</p>
                            <a href="contact.html">Contact us</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="footer-middle">
                        <div class="col-md-12 follow text-center">
                            <h3>Follow Us</h3>
                            <p>Lorem ipsum dolor sit amet</p>
                            <div class="social-icons">
                                <i class="twitter"></i>
                                <i class="facebook"></i>
                                <i class="googlepluse"></i>
                                <i class="pinterest"></i>
                                <i class="linkedin"></i>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="cards">
                        <div class="col-md-12 follow text-center">
                            <div class="row">
                                <img class="img-responsive cards-align" src="~/images/cards.jpg" alt="Payment" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <environment names="Development">
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/lib/jquery.unobtrusive-ajax.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
