@model IEnumerable<Webshop.ViewModels.ArticlesViewModel>
@*@using Microsoft.AspNetCore.Localization*@
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Index"];
}

@if (Model.Count() == 0)
{
    <div class="image-container text-center"> <img src="~/images/no-record-found.png" /></div>
}
else
{

            @foreach (var item in Model)
                {
                <div class="productItemDetailBox">
                    <div class="col-md-5 pull-right">
                        <div class="priceInfo super">
                            <span class="priceHeader">
                                <span class="symbol pull-left icon-superpris"></span>
                                <span class="price animated rubberBand">@Html.DisplayFor(model => item.ArticlePrice)</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-5 padding-x-off">
                        <div class="productDetailImageWrap">
                            <div class="image-container-details">
                                @if (!string.IsNullOrEmpty(item.ArticleImgPath.ToString()))
                                    {
                                    <a asp-action="Details" asp-controller="Article" asp-route-id="@item.ArticleId" class="clear">
                                        <img class="img-responsive pad-top" alt="@Html.DisplayFor(model => item.ArticleName)" src="~/@item.ArticleImgPath" />
                                    </a>
                                    }
                                    else
                                    {
                                    <a asp-action="Details" asp-controller="Article" asp-route-id="@item.ArticleId" class="clear">
                                        <img class="img-responsive pad-top" alt="@Html.DisplayFor(model => item.ArticleName)" src="/images/imageupload/NoImage/NO_product_fount.png" />
                                    </a>
                                    }
                            </div>
                        </div>
                    </div>

                    <div class="col-md-7">
                        <div class="productDetailDescription">
                            <div>
                                <h3>@Html.DisplayFor(model => item.ArticleName)</h3>
                            </div>

                            <span class="description">@Html.DisplayFor(model => item.ArticleShortText)</span>
                            <ul class="list-group shortSpec">
                                <li>@Html.DisplayFor(model => item.ArticleNumber)</li>
                                <li>@Html.DisplayFor(model => item.ArticleFeaturesOne)</li>
                                <li>@Html.DisplayFor(model => item.ArticleFeaturesTwo) </li>
                                <li>@Html.DisplayFor(model => item.ArticleFeaturesThree)</li>
                                <li>@Html.DisplayFor(model => item.ArticleFeaturesFour)</li>
                            </ul>
                            <div class="btn-group">
                                <span class="fa fa-cubes green icon-padding-right" title="" data-placement="top" data-container="body" data-toggle="tooltip" data-original-title="Skickas omgående"><span class="small text-muted icon-padding-right"> +@Html.DisplayFor(model => item.ArticleStock) @Localizer["In Stock"]</span></span>
                            </div>
                        </div>
                    </div>
                    <div style="height: 30px;">
                        <div class="action-row">
                        </div>
                        <div class="col-md-2 pull-right text-field-margin-right">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <div class="pull-right "><a asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-id="@item.ArticleId" class="btn submit-sm-button btn-buy"><i class="fa fa-cart-plus"></i>@Localizer["Buy"]</a></div>
                                </span>
                            </div><!-- /input-group -->
                        </div><!-- /.col-lg-6 -->
                    </div>
                </div>
            }
            <div style="height: 30px;">
                <div class="action-row pull-right">
                    <div class="form-actions no-color">
                        <a class="btn btn-success" onclick="history.go(-1);"><span class="modal-pointer">@Localizer["Back"]</span></a>
                    </div>
                </div>
            </div>

}
            @section Scripts {
                @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
            }
