@model Webshop.Models.BusinessLayers.ShoppingCart
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@*@using Microsoft.Extensions.Options*@
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Index"];
}

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions
{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

    <!--ajax script-->
<script type="text/javascript">
        $(function () {
            // Document.ready -> link up remove event handler
            $(".RemoveFromCart").click(function () {
                // Get the id from the link
                var recordToDelete = $(this).attr("data-id");
                var PostToUrl = $(this).attr("data-url");
                if (recordToDelete != '') {

                    // Perform the ajax post
                    $.ajax(PostToUrl, {
                        type: "post",
                        data: { "id": recordToDelete },
                        dataType: "json",
                        headers: { "RequestVerificationToken": '@GetAntiXsrfRequestToken()' }
                    }).done(function (data) {
                        // Successful requests get here
                        // Update the page elements
                        if (data.ItemCount == 0) {
                            $('#row-' + data.DeleteId).fadeOut('slow');
                            window.location.reload().fadeOut("fast")
                        } else {
                            $('#item-count-' + data.DeleteId).text(data.ItemCount);
                            window.location.reload().fadeOut("fast")
                        }

                        $('#cart-total').text(data.CartTotal);
                        $('#update-message').text(data.Message);
                        $('#cart-status').text(data.CartCount);
                        console.log("Borttaget\n", PostToUrl, "\n")
                        console.log("Data \n", data, "\n")
                        console.log("Borttaget", data.DeleteId)
                        window.location.reload().fadeOut("fast");
                    });
                }
            });

        });
    </script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#noTranslationTabel').DataTable({
            dom: 'B<"clear"><lf<t>ip>',
            buttons: [{ extend: 'copy', text: 'Kopiera', },
                {
                extend: 'excel',
                text: 'Excel',
                exportOptions: {  modifier: { page: 'current' } },
            },
            {
                extend: 'pdf',
                text: 'Pdf'
            },
            ],
            "language": {
                "lengthMenu": "Visa _MENU_ rader per sida",
                "zeroRecords": "Din sökning gav inget - försök med ett annat sökord",
                "info": "_PAGE_ av _PAGES_",
                "infoEmpty": "Datatabellen är tom",
                "infoFiltered": "(filtrerdad på _MAX_ antal poster)"
            },
            //"order": [[0, "asc", ]], //Column1
            "processing": true,

        })

        //var table = $('#myDWPTable').DataTable();
        //var expdata = table.buttons.exportData();
        //console.log("Tabelldata \n", expdata);
    });
</script>

<!--ajax script end-->

@if (Model._cartItems != null)
{
    <div class="col-md-12">
        <table id="noTranslationTabel" class="table table-striped dt-responsive dataTable no-footer dtr-inline collapsed" role="grid" aria-describedby="datatable-buttons_info">
            <thead>
                <tr>
                    <th>@Localizer["Image"]</th>
                    <th>@Localizer["Article"]</th>
                    <th>@Localizer["Amount"]</th>
                    <th>@Localizer["Price"]</th>
                    <th>@Localizer["RowTotal"]</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model._cartItems)
                {
                    <tr id="row-@item.CartItemId">
                        <td><img class="img-responsive" alt="@item.ArticleName" /></td>

                        <td><a asp-controller="Home" asp-action="Details" asp-route-id="@item.ArticleId">@item.ArticleName</a></td>

                        <td id="item-count-@item.CartItemId">@item.Count</td>

                        <td>@item.Article.ArticlePrice</td>

                        <td>
                            @{var price = item.Article.ArticlePrice;
                                var i = item.Count;
                                var sum = Convert.ToDecimal(Math.Round(price * i, 2));}
                            @sum
                        </td>

                        <td>
                            @*<a class="delete-button-sm RemoveFromCart pl" data-id="@item.CartItemId"  data-url='@Url.Content("~/ShoppingCart/RemoveFromCart")'>*@
                            <a class="delete-button-sm RemoveFromCart" href="#" data-id="@item.CartItemId" data-url='@Url.Content("~/ShoppingCart/RemoveFromCart")'>
                                <i class="fa fa-remove"></i>
                            </a>
                        </td>
                    </tr>
                                }
            </tbody>
        </table>
        <div class="col-md-12">
            <div class="col-md-9"></div>
            <div class="col-md-3 pull-left">
                <p>
                    @Localizer["CartTotal"] @Model._sum
                </p>
            </div>
        </div>
    </div>
 }
 else
 {
     <div class="col-md-12"><span class="alert-info">@Localizer["EmptyCart"]</span></div>

 }
   

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}                             