@model Webshop.Components.CartTotalSumComponent
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@*@using Microsoft.Extensions.Options*@
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Index"];
}
@if (ViewBag.Items == 0)
{ 
    <span class="pad-top-5">@Localizer["CartStatus"] </span>
    <span class="fa fa-shopping-basket basket-lined fa-1x orange">
        <div class="badge badge-blue">
            <span class="text-xs">@ViewBag.Items</span>
        </div>
    </span>
}
else
{
        <span class="pad-top-5">@Localizer["Sum"] @ViewBag.Sum @Localizer["Currency"]</span>
        <span class="fa fa-shopping-basket basket-lined fa-1x orange">
            <div class="badge badge-blue">
                <span class="text-xs">@ViewBag.Items</span>
            </div>
        </span>
}