@model Webshop.Models.BusinessLayers.ShoppingCart
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Index"];
}
@if (Model._sum == 0)
{ 
    <span class="pad-top-5">@Localizer["CartStatus"] </span>
    <span class="fa fa-shopping-basket basket-lined fa-1x orange">
        <div class="badge badge-blue">
            <span class="text-xs">@Model._items</span>
        </div>
    </span>
}
else
{
        <span class="pad-top-5">@Localizer["Sum"] @Model._sum @Localizer["Currency"]</span>
        <span class="fa fa-shopping-basket basket-lined fa-1x orange">
            <div class="badge badge-blue">
                <span class="text-xs">@Model._items</span>
            </div>
        </span>
}